body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 20px;
}

.movie {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
}

.movie h2 {
    margin-bottom: 10px;
}

.book-btn {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.book-btn:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}